h2{
			color: blue;
			text-align: center;
			font-family: cursive;
		}

		.rd{
			color: red;
			text-align: center;
			font-family: cursive;	
		}

		.halo{
			font-size: 20px;
			font-weight: italic;
			font: Cambria;
			color: lightgreen;
		}

		.rdd2{
			font-size: 20px;
			font-weight: bold;
			font: Arial;
			color: gold;	
		}

		#XBOX{
			font-size: 24px;
			font-weight: bold;
			background-color: transparent;
			opacity: 7;
			color: black;
		}

		#RG{
			font-size: 24px;
			font-weight: bold;
			background-color: transparent;
			opacity: 7;
			color: red;
		}

		h1{
			color: pink;
			text-align: center;
		}

		h3{
			color: orange;
			text-align: right;
		}
